*{
    font-family: 'Rubik', sans-serif;
}
body{
    margin: 0;
}

.header{
    height: 50px;
    border-bottom:solid 2px #dddddd;
}
.header div{
    display: inline;
    float: right;
}
.header div p{
    font-size: 14px;
    margin: 0 50px 0 0;
    padding-top: 9px;
}
.header div p a{
    text-decoration: none;
    color: #80aafc;
}
header div a img{
    height: 90%;
    width: auto;
    
    margin: 3px 0 0 50px;
}


main{
    margin-top: 65px;
    margin-left: 110px;
}
.createAccount{
    font-size: 20px;
    text-decoration: solid;
}
div a img{
    height: 30px;
    width: auto;
    float: left;
}
.facebook{
    margin-left: 21px;
}
.withEmail{
    font-size: 15px;
    color: gray;
}


form p{
    font-size: 13px;
    margin-top: 35px;
    margin-bottom: 3px;
}
form .email{
    
    border: 1px solid gray;
    height: 25px;
    width: 450px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #dddddd;
}
form .password{
    border: 1px solid gray;
    height: 25px;
    width: 450px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.btn{
    display: none;
}
.btnSpan {
    display: inline-block;
    position: relative;
    top: 21px;
    border: 2px solid #ccc;
    width: 15px;
    height: 15px;
    background: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

.terms{
    margin: 0;
    float: left;
    margin-left: 26px;
    size: 15px;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.terms a{
    text-decoration: none;
    color: #80aafc;
}

#crear{
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border: 3px dashed #dddddd;
    border-radius: 24px;
    color: #dddddd;
    font-size: 15px;
}

footer{
    height: 60px;
    border-top:solid 2px #dddddd;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footerLink{
    padding-top: 20px;
}
.footerLink .issuuFooter{
    margin-left: 50px;
    text-decoration: none;
    color: grey;
    font-size: 12px;
}
.footerLink .termsFooter{
    margin-left: 100px;
    text-decoration: none;
    color: grey;
    font-size: 12px;
}
.footerLink .termsPrivacy{
    margin-left: 10px;
    text-decoration: none;
    color: grey;
    font-size: 12px;
}
.footerLink .termsDMCA{
    margin-left: 10px;
    text-decoration: none;
    color: grey;
    font-size: 12px;
}
